div.node.node-type-prayer.teaser {
  background-color: #E0F5EE;
  margin-bottom: 10px;
  padding: 5px 10px;
}

div.node-type-prayer.teaser.even {
  background-color: #D6EDF5;
}

div.view-prayer-wall .views-row, div.view-og-prayer-wall .views-row {
  background-color: #E0F5EE;
  margin-bottom: 10px;
  min-height: 110px;
  overflow: hidden;
  padding-left: 105px;
  padding-top: 4px;
  position: relative;
}

div.view-prayer-wall .views-row-even, div.view-og-prayer-wall .views-row-even {
  background-color: #D6EDF5;
}

div.view-prayer-wall .views-field-picture, div.view-og-prayer-wall .views-field-picture {
  position: absolute;
  left: 4px;
  width: 85px;
  margin-right: 15px;
}

div.view-prayer-wall .views-field-value, div.view-og-prayer-wall .views-field-value{
  position: absolute;
  top: 90px;
  left: 4px;
  max-width: 100px;
  min-width: 100px;
}

div.view-prayer-wall .views-field-body, div.view-og-prayer-wall .views-field-body {
  padding-left: 4px;
}